---
const today = new Date();
---

<footer class="bg-[#1a0b12] text-gray-light text-center py-6">
	<p class="text-sm">&copy; {today.getFullYear()} <span class="text-gold">Pale CHamberlain</span>. All rights reserved.</p>
</footer>
