<header class="bg-[#1a0b12] text-white py-4">
	<nav class="max-w-5xl mx-auto flex justify-between items-center px-6">
		<h2 class="text-gold text-2xl font-medieval">
			<a href="/">Dark Chambers</a>
		</h2>
		<div class="flex space-x-4">
			<a href="/" class="hover:text-gold !text-white">Home</a>
			<a href="/blog" class="hover:text-gold !text-white">Blog</a>
			<a href="/about" class="hover:text-gold !text-white">About</a>
		</div>
		<div class="flex space-x-4">
			<a href="https://warpcast.com/palechamberlain" target="_blank" class="hover:text-gold !text-white">Warpcast</a>
		</div>
	</nav>
</header>
